* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
  background-color:white;
}
.navbox {
 width: 100%;
 height:100%;
 margin-top: 40px;
 text-align:end;
}
.nav-logo{
  text-align: left;
  margin-left: 120px;
  margin-top: -2rem;
}
.home-links  a{
 margin-right: 3rem;
 color: rgb(5, 92, 223);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  font-size:110%;
}
.navbutton{
  width: 10rem;
  padding:10px 15px 10px 20px;
  border-radius: 40px;
  margin-right: 9rem;
  background-color: blue;
  font-size: medium;
  color:white ;
  border-color:aliceblue;
  border-style: none;
  
}
.text{
  margin-right: 59rem;
  margin-top: 234px;
  font-size: 150%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(19, 2, 63);
}
.text1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
  margin-left: 120px;
  margin-top: 1rem;
  font-size: 160%;
  color: rgb(19, 2, 63);
}
.text2{
  text-align: left;
  margin-left: 120px;
  margin-top: 1rem;
  font-weight: 500;
  color: rgb(14, 1, 34);
  font-size: 100%;
}
.button1{
  width: 259px;
  height: 60px;
  margin-top: 2rem;
  color: white;
  background-color: rgb(5, 5, 253);
  border-radius: 60px;
  margin-right: 2rem;
  border-color: aliceblue;
  border-style: none;
}
.button2{
  width: 259px;
  height: 60px; 
  color: rgb(5, 92, 223);
  background-color: whitesmoke(255, 255, 255,1);
  border-style: none;
  border-radius: 60px;
  margin-right: 690px;
  font-weight: 800;
  box-shadow: 0 4px 8px 0 
  rgba(0, 59, 121, 0.0726), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box1{
  width: 574px;
  height: 600px;
  background: rgba(235, 238, 255, 1);

  border-radius: 20px;
  border-color: aliceblue;margin-left: 720px;
  margin-top: -450px;
  
}
.texth{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  font-size: 180%;
  margin-top: 99px;
  color: rgb(33, 8, 97);
}
.text4{
  text-align: center;
  margin-top: 2rem;
  color: rgb(41, 32, 63);
}


.boxes{
  box-shadow: 0 4px 8px 0 
  rgba(0, 59, 121, 0.0726), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 15px;
  height : 323px;
  width: 260px;
  margin : 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4;
  padding: 2px;
  position: relative;
}

.service{
  display: flex;
  padding: 
  0 120px ;
  column-gap: 
  36px;
}
.text11{
  margin-top: 28rem;
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  margin-left: 120px;
  color: rgb(41, 32, 63);
}
.text12{
  text-align: left;
  color: rgb(41, 32, 63);
  margin-left: 120px;
  margin-top: 2.5rem;
}
.learnbutton{
 display: flex;
  margin-left: 120px;
  margin-top: 2rem;
  background-color: blue;
  border-radius: 50px;
  padding: 14px 40px;
  color: white;
  border-color: white;
}
.drwmen{
  display: flex;
  margin-left: 710px;
  margin-top: -28rem;
 
  height:213px;
  

}
.docwbox{
  background:rgba(255, 255, 255, 1);
  color: #181616;
  padding: 150px 0px 20px 0px;
  border-radius: 10px;
  width: 236px;
  text-align:center;
  box-shadow:  0 4px 8px 0 
  rgba(0, 59, 121, 0.0726), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 700px;
  margin-top: -7rem;
  border-radius: 15px;
 font-weight: 600;
  
}
.drmen{
  display: flex;
  margin-left: 1000px;
  margin-top: -8rem;
  height:213px;
  

}
.docmbox{
  background:rgb(255, 254, 254);
  color: #181616;
  padding: 150px 0px 20px 0px;
  border-radius: 10px;
  width: 236px;
  text-align:center;
  box-shadow:  0 4px 8px 0 
  rgba(0, 59, 121, 0.0726), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 1000px;
  margin-top: -7rem;
  border-radius: 15px;
 font-weight: 600;
  
}
.drmen1{
  display: flex;
  margin-left: 700px;
  margin-top: -8rem;
  height:213px;
  

}
.docmbox1{
  background:rgb(255, 254, 254);
  color: #181616;
  padding: 150px 0px 20px 0px;
  border-radius: 10px;
  width: 236px;
  text-align:center;
  box-shadow:  0 4px 8px 0 
  rgba(0, 59, 121, 0.0726), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 700px;
  margin-top: -7rem;
  border-radius: 15px;
 font-weight: 600;
  
}
.text10{
  margin-top: 5rem;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
 
  color: rgb(41, 32, 63);
}
.text20{
  margin-top: 2rem;
  text-align: center;
  
  font-weight: 500;
 
  color: rgb(41, 32, 63);

}
.column1{
  width: 274px;
  height: 324px;
 background: rgba(174, 211, 226, 1);
  ;
  border-radius: 20px 20px 0px 0px;
  margin-top: 3rem;
  margin-left: 0px;
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0726);

}
.column2{
  text-align: left;
  
  font-weight: 600;
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0726);
display: flex;

  width: 274px;
  height: 124px;
  background:rgb(255, 255, 255,1);
  border-radius: 0px 0px 20px 20px;
  margin-left:0px;
}
.t2{
  margin-top: 5rem;
  text-align: left;
 margin-left: -9rem;
 font-weight: 500;
}
.row1{
  margin-left: 120px;
  align-items: center;
  display: flex;
  column-gap: 30px;
}
.text101{
  margin-top: 10rem;
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  margin-left: 120px;
  color: rgb(41, 32, 63);
}
.nt1{
  text-align: left;
  width: 577px;
  margin-top: 3rem;
  padding: 50px;
  background-color: rgb(255, 255, 255,1);
  box-shadow: 0px 10px 50px 25px rgba(0, 59, 121, 0.0726);
  border-radius: 20px;
}
  .note{
    display: flex;
    column-gap: 2rem;
    margin-left: 120px;
  }
 .st{
  margin-top: 10rem;
text-align: center;
padding: 80px;
width: 1198px;
background-color: blue;
margin-left: 120px;
border-radius: 30px;
 }
 .h2h{
  color: white;
  background-color: blue;
 margin-top: -2rem;
  font-size: 30px;
 }
.h6h{
  font-size:medium;
  font-weight: 500;
  color: white;
  background-color: blue;
  margin-top: 2rem;
}
.form{
  margin-top: 2rem;
  padding: 30px;
  width: 846px;
  border-radius: 20px;
  display: flex;
  column-gap: 10rem;
  margin-left: 5rem;
}
.butt{
  color: white;
  background-color: blue;
  width: 8rem;
  padding:18px;
  border-radius: 30px;
  border-color: white;
  border-style: none;
}
.email{
  border-color: rgb(255,255,255,1);
  font-size:medium;
  width: 546px;
  height: 39px;
  border-style: none;
}
.footer{
  text-align: left;
  margin-left: 120px;
  margin-top: 3rem;
}
.ft{
  text-align: left;
  padding:10px;
  margin-left: 120px;
}